{
  "env": {
		"browser": true,
    "es6": true
  },
  "globals": {
    "window": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb"
  ],
  "plugins": [],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
	"ignorePatterns": ["**/*.min.js"],
  "rules": {
    "camelcase": [2, {"properties": "always"}],
    "no-console": "off",
		"quotes": ["warn", "single"]
  },
	"allowIndentationTabs": true
}
